# Виртуальное окружение
venv/
env/
ENV/
.venv/

# Файлы сборки
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.manifest
*.spec

# Папки сборки
build/
dist/
Gabeitch.spec
output/

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db